.goalMe__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem, 6rem;
    
    background:-moz-radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
}

.goalMe__navbar-links{
    margin: 1rem;
    color: #fff;
    font-family: var(--font-family);
}

.goalMe__navbar-links a{
    margin: 1rem;
}

.goalMe__navbar-menu {
    position: relative;
    background:linear-gradient(#8AA066 0%, #3F4F25 100%);
}

.goalMe__navbar-menu button{
    padding: 0.5rem 1rem;
    color: black;
    background: #F6FA38;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.goalMe__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    background:radial-gradient(circle at 3% 25%, #194623 0%, #63AF74 100%);
}